/.build-*.log
/python-numexpr*src.rpm
/numexpr-1.4.2.tar.gz
/numexpr-2.0.tar.gz
/numexpr-2.0.1.tar.gz
/numexpr-2.2.tar.gz
/numexpr-2.2.1.tar.gz
/numexpr-2.2.2.tar.gz
/numexpr-2.3.tar.gz
/numexpr-2.4.6.tar.gz
/numexpr-2.5.tar.gz
/numexpr-2.5.2.tar.gz
/numexpr-2.6.0.tar.gz
